/* 各个网页相同模块的重复样式，例如：头部、底部 */

/* 版心 */
/* 设置了外边距为自动，使其水平居中，并指定了宽度为1240px。整个页面的最外层版式由这个来控制 */
.wrapper {
    margin: auto;
    width: 1240px;
}

/* 导航栏 */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.nav-text {
    color: #fff;
    font-size: 30px;
}

/* 标题 */
.title {
    text-align: center; /* 文字内容居中 */
    margin: 20px auto; /* 水平居中div本身 */
    height: 30px;
}

/*  视频播放界面  */
.video-grid-container {
    width: 100%; /* 使容器占满全宽 */
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* 确保网格占满容器 */
    gap: 20px;
}

.video-item {
    flex: 1 1 calc(22% - 20px); /* 1行4列布局，稍微增大宽度 */
    max-width: calc(22% - 20px); /* 增加宽度 */
    height: 600px; /* 固定高度 */
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* 隐藏超出部分 */
}

.upload-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-title {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.upload-instruction {
    margin: 10px 0;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
    max-height: 85%; /* 确保视频不超出盒子 */
    object-fit: contain; /* 保持宽高比，整体显示 */
}



